@page
@model IndexModel
@{
    ViewData["Title"] = "Clipper Greens Landscaping";
}

<div class="text-center">
    <h1 class="display-4">Clipper Green Landscaping<br />You Grow It, We Mow it.</h1>
    <p>Welcome. We offer convenient landscaping solutions for your property.  <br /><br />
         Just navigate to our product page here and begin choosing a service and 
        when it is convenient for you to have done.<br /><br />Our hours are Monday - Friday, 8AM - 5 PM.</p>
</div>
